.item {
  padding: 5px 13px;
  background-color: brown;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 45%;
}

.item::before {
  content: "Remzi Balakishiyev";
  width: 70px;
  display: inline-block;
  height: 20px;
  position: absolute;
  bottom: -20px;
}
